.album-page-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 50px;
    background-color: #1d1d1d;
    border-top-style: solid;
    border-top-width: 0.5px;
    border-color: #909090;
}

.album-image-header {
    height: 200px;
    width: 200px;
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    border-color: #909090;
    overflow: hidden;
}

.album-page-info {
    padding-left: 50px;
}

.album-page-info > p {
    font-weight: normal;
}

.go-back {
    cursor: pointer;
}
